body {
  background-color: #fffef9;
  /* font-family: 'Neuton', serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.App {
  /* background-color: #fffef9; */
  /* background-color: black; */
}

.mobile-header {
  color: brown;
  text-align: center;
}

.mobile-contact-trigger {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 80px;
  height: 80px;
  background-color: #F77262;
  color: white;
  border-radius: 100px;
  text-align: center;
  -webkit-box-shadow: 0 12px 6px -6px #a5a5a5;
  -moz-box-shadow: 0 12px 6px -6px #a5a5a5;
  box-shadow: 0 12px 6px -6px #a5a5a5;
}

.mobile-contract-trigger-text {
  padding-top: 13px;
}

.mobile-popout {
  background-color: #fffef9;
}

.mobile-popout-heading {
  font-size: 3vh;
  text-align: center;
}

.hori-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.popout-image {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

/* .party-order-message {
  padding-top: 50px;
} */

.mobile-popout-number {
  padding-top: 35px;
  font-size: 3vh;
  text-align: center;
}

.popout-address {
  font-size: 3vh;
  text-align: center;
  padding: 3vh 0px;
}

.party-order-message {
  font-size: 2.5vh;
}

#carousel-caption {
  /* background: rgba(51, 51, 51, 0.7);  */
  background: none;
}

.carousel-caption-text {
  /* background-color:  */
  background: rgba(51, 51, 51, 0.8);
  width: max-content;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 5px;
}

.carousel .control-dots {
  padding-left: 0px;
}

.carousel .slide .legend {
  bottom: 15px;
  /* top: 10px; */
  /* width: max-content; */
  /* margin: 0 auto; */
  transition: none;
  opacity: 1;
}

/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
