@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 20px;
  color: #3b3a3a;
  background-color: #fafafa;
}

.App {
  /* background-color: #fffef9; */
  /* background-color: black; */
}

.mobile-header {
  text-align: center;
  padding: 10px 3vw 0px 3vw;
  display: flex;
  z-index: 999;
  background-color: white;
  height: 125px;
}

.mobile-contact-trigger {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 80px;
  height: 80px;
  background-color: #F77262;
  color: white;
  border-radius: 100px;
  text-align: center;
  -webkit-box-shadow: 0 12px 6px -6px #a5a5a5;
  -moz-box-shadow: 0 12px 6px -6px #a5a5a5;
  box-shadow: 0 12px 6px -6px #a5a5a5;
}

.mobile-contract-trigger-text {
  padding-top: 13px;
}

.mobile-popout-overlay {
  z-index: 1000;
}


.mobile-popout-heading {
  font-size: 3vh;
  text-align: center;
}

.hori-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.popout-image {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.mobile-popout-number {
  padding-top: 35px;
  font-size: 3vh;
  text-align: center;
}

.popout-address {
  font-size: 3vh;
  text-align: center;
  padding: 3vh 0px;
}

.party-order-message {
  font-size: 2.5vh;
}

.mobile-divider {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0px;
}

.mobile-divider-image {
  width: 35vw;
  height: 2.5vh;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}

.mobile-logo-container {
  width: 34vw;
}

.mobile-logo {
  width: 100%;
}

.mobile-header-address {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.mobile-header-phone {
  padding-top: 10px;
}

.mobile-header-phone-number {
  color: #3b3a3a;
  text-decoration: none;
}

.mobile-section-labels {
  text-align: center;
  font-size: 26px;
  padding-bottom: 20px;
}

.popout-maps-link {
  color: blue;
}

.about-us {
  padding: 0px 40px;
  font-size: 20px;
  text-align: center;
}

/* Desktop */
.navbar-tabs {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navbar-tablist {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 5vw;
  background-color: lightblue;
}

.navbar-tab {
  background-color: lightgreen;
  color: #e34234;
  transition: background-color 0.25s ease;
  /* border-right: 1px solid lightgray; */
  padding: 0% 2.5%;
  margin-right: 2.5%;
  white-space: nowrap;
}

.navbar-tab:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: background-color 0.25s ease;
}

.selected-tab {
  border-bottom: 1px solid red;
}

.tab-about-us > h2 {
  text-align: center;
}

.tab-about-us > p {
  margin: auto;
  width: 75vh;
  text-align: center;
}


/* Google Map & Marker */

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.marker:hover {
  z-index: 1;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}